<li class="todo-item" [class.completed]="item.completed" [class.editing]="item.editing">
    <div class="view">
        <input class="toggle" type="checkbox" (click)="toggleCompletion(item)" [checked]="item.completed">
        <label (dblclick)="editTodo(item)">{{item.title}}</label>
        <button class="destroy" (click)="removeTodo(item)"></button>
    </div>
    <input class="edit" *ngIf="item.editing" type="text" [(ngModel)]="editingTodoTitle" (ngModelChange)="editingTodoTitleChange()" (keyup.enter)="updateEditingTodo(item)" (blur)="stopEditing(item)" (keyup.escape)="stopEditing(item)">
</li>
